<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" android:versionCode="10" android:versionName="1.0.9" package="com.johan.vertretungsplan_2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="19"/>

    <permission android:name="com.johan.vertretungsplan_2.permission.C2D_MESSAGE" android:protectionLevel="signature"/>

   <uses-permission android:name="com.johan.vertretungsplan_2.permission.C2D_MESSAGE"/>
   <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
   <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
   <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
   <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:logo="@drawable/ic_action_icon" android:name="VertretungsplanApplication" android:theme="@style/Theme.Ls">
       
       <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
       
        <activity android:label="@string/app_name" android:name="com.johan.vertretungsplan_2.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity android:label="@string/app_name" android:name="com.johan.vertretungsplan_2.SelectSchoolActivity">
        </activity>

        <activity android:label="@string/title_activity_settings" android:logo="@drawable/ic_action_icon" android:name="com.johan.vertretungsplan_2.SettingsActivity" android:parentActivityName="com.johan.vertretungsplan_2.StartActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.johan.vertretungsplan.StartActivity"/>
        </activity>
        
        <activity android:excludeFromRecents="true" android:finishOnTaskLaunch="true" android:launchMode="singleInstance" android:logo="@drawable/ic_action_icon" android:name="org.acra.CrashReportDialog" android:theme="@style/Holo.Theme.Dialog.Light"/>

        <service android:enabled="true" android:name="com.johan.vertretungsplan.background.VertretungsplanService">
        </service>
        
        <service android:name=".GCMIntentService"/>
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.johan.vertretungsplan_2"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.johan.vertretungsplan_2"/>
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.johan.vertretungsplan.widget.VertretungsplanWidgetProvider"
            android:enabled="@bool/api_v14" >
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/widget_info" />
		</receiver>

        <service android:name="com.johan.vertretungsplan.widget.VertretungsplanWidgetService"
            android:enabled="@bool/api_v14"
			android:permission="android.permission.BIND_REMOTEVIEWS" />
</application>

</manifest>