.gradle
/Vertretungsplan/local.properties
/Vertretungsplan/.idea/workspace.xml
/Vertretungsplan/.idea/libraries
.DS_Store
/Vertretungsplan/build
/Vertretungsplan/vertretungsplan/build
/Vertretungsplan/supportpreferencefragment/build
/Vertretungsplan/pagersliding/build
Thumbs.db