<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value>com.johan.vertretungsplan_2.DeviceInfoEndpoint,com.johan.vertretungsplan_2.MessageEndpoint,com.johan.vertretungsplan_2.VertretungsplanSerializedEndpoint</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VertretungsplanCron</servlet-name>
		<servlet-class>com.johan.vertretungsplan_2.CronJobServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VertretungsplanCron</servlet-name>
		<url-pattern>/cron/vertretungsplan</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SendMail</servlet-name>
		<servlet-class>com.johan.vertretungsplan.backend.SendMailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendMail</servlet-name>
		<url-pattern>/webapp/sendmail</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>cron</web-resource-name>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>admin</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
</web-app>